
$bgColor: #fbf3e4;
$headerColor: #105652;
$paragraph: #5f6c7b;
$highlight: #dfd8ca;
$tertiary: #b91646;
$size-divide: 2;


#dagger-div {
   background: $tertiary;
   height: calc(8em / $size-divide);
   width: calc(8em / $size-divide);
   z-index: -5;
   color: $headerColor;
}