$bgColor: #fbf3e4;
$btnColor: #cddeff;
$headerColor: #105652;
$btnText: #fffffe;
$paragraph: #5f6c7b;
$highlight: #dfd8ca;
$tertiary: #b91646;
$secondary: #90b4ce;
$sidebarColor: #cddeff;
$brygada: "Brygada 1918", serif;
$dosis: "Dosis", sans-serif;
$josefin: "Josefin Sans", sans-serif;
$zenkaku: "Zen Kaku Gothic Antique", sans-serif;
$size-divise: 2;

:root {
  overflow-x: hidden;
}

#circleBox {
   position: fixed;
   height: calc(3.15em/$size-divise);
   width: calc(3.15em/$size-divise);
   top: 0;
   border-radius: 50%;
   // border-right: .1em solid $headerColor;
   // border-bottom: .em solid $headerColor;
   box-shadow: inset -2.5px -2.5px 3px 1px $headerColor, 3.5px 3.5px 5px 0px #093533;
   
   #outestCircle {
     height: calc(8.1em/$size-divise);
     width: calc(8.1em/$size-divise);
     position: fixed;
     top: 18px;
     left: 18px;
     border-radius: 50%;
     border: 1px solid $headerColor;
     box-shadow: inset 1px 1px 5px 5px $headerColor;
   }
 
   #outerCircle {
     height: calc(5em/$size-divise);
     width: calc(5em/$size-divise);
     position: fixed;
     top: 27.8px;
     left: 27.8px;
     border-radius: 50%;
     border: 3.5px solid $tertiary;
     box-shadow: .5px .5px 5px 5px $tertiary;
     animation: rotate 20s linear 0s infinite;

     
 
     #innerCircle {
       height: calc(2em/$size-divise);
       width: calc(2em/$size-divise);
       top: 3.48px;
       left: 3.48px;
       position: relative;
       border-radius: 50%;
       opacity: 1;
       box-shadow: inset 2px 2px 5px 2px $headerColor;
       animation: none;
 
       #centerCircle {
         top: -7.2px;
         left: -7.2px;
         height: calc(.8em/$size-divise);
         width: calc(.8em/$size-divise);
         position: relative;
         border-radius: 0 100%;
         background: white;
         opacity: .85;
         box-shadow: -1px -1px 1px 1px $headerColor;
      }
     }
   }
 }

#navbar {
  display: flex;
  height: calc(10.4em/$size-divise);
  width: 100%;
  position: fixed;
  top: 0;
  //   overflow: hidden;
  background: $bgColor;
  box-shadow: 5px 2px 8px 1.5px $headerColor;
  z-index: 1;
  left: 7em;
  border-radius: 0 0 0 0px;
}

#sidebar {
  display: flex;
  position: fixed;
  height: 100%;
  width: calc(10.4em/$size-divise);
  box-shadow: 2px 5px 8px 1.5px $headerColor;
  left: 0;
  background: $bgColor;
  z-index: 1;
  top: 7em;
}

.angle {
   position: fixed;
   z-index: 0;
   transform: rotate(-45deg)
   
}

#tri5 {
  width: 0; 
  height: 0; 
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 2em solid $tertiary;
  top: 5.9em;
  left: 5.25em;
   

   #tri4 {
      background: $headerColor;

      #tri3 {

         #tri2 {

            #tri1 {

            }
         }
      }
   }
}

#mainCont {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  margin: 40px 0px 0px 40px;
  font-size: calc(2em/$size-divise);
  padding: 40px;
  z-index: -5;
  font-family: $josefin;
  font-weight: 800;
  color: $headerColor;
}

@keyframes rotate {
   from {transform: rotate(-360deg);}
   to{transform: rotate(360deg)}
}


@media screen and (min-width: 576px) {
   :root {
     $size-divise: 5;
   }
 }
 @media screen and (min-width: 768px) {
   :root {
     $size-divise: 4;
   }
 }
 @media screen and (min-width: 992px) { 
   :root {
     $size-divise: 3;
   }
 }
 @media screen and (min-width: 1200px) { 
   :root {
      $size-divise: 2;
   }
 }
